<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>521281741547-t5hog2d341kk6e8rpupv80h0c5b7s55c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.521281741547-t5hog2d341kk6e8rpupv80h0c5b7s55c</string>
	<key>API_KEY</key>
	<string>AIzaSyAPSaG8R_ucxmwln6G36JOsBDPZKBxUnXA</string>
	<key>GCM_SENDER_ID</key>
	<string>521281741547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Mazharul.LiveArena</string>
	<key>PROJECT_ID</key>
	<string>livearena-cc3bf</string>
	<key>STORAGE_BUCKET</key>
	<string>livearena-cc3bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521281741547:ios:a9ff7a655e3bfed9</string>
	<key>DATABASE_URL</key>
	<string>https://livearena-cc3bf.firebaseio.com</string>
</dict>
</plist>